body {
    background-color: lightyellow;
    color: black;
    text-align: center;
    margin: 50px 100px 50px 100px;
}

button {
    background-color: darkorange;
    color: midnightblue;
}

input {
    background-color: darkorange;
    color: midnightblue;
}

select {
    color: midnightblue;
    background-color: darkorange;
}

#formNomCommande {
    background-color: darkorange;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

#formCommandesEnLigne {
    color: black;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

#nomDuRecu {
    background-color: lightyellow;
    color: midnightblue;
}

.nomDuRecu {
    background-color: lightyellow;
    color: midnightblue;
}

hr {
    border-width: 1px;
    background-color: black;
}

footer {
    text-align: left;
}

#triageAlpha {
    text-align: left;
}

form {
    border-radius: 10px;
    background-color: bisque;
    padding: 10px;
}

header {
    text-align: left;
}

h1 {
    text-align: center;
}

#maListe {
    text-align: left;
}

#connection {
    text-align: left;
}