body {
    background-color: white;
    color: midnightblue;
}

button {
    background-color: white;
    color: midnightblue;
}

input {
    background-color: white;
    color: midnightblue;
}

select {
    background-color: white;
    color: midnightblue;
}

hr {
    background-color: black;
}

form {
    background-color: midnightblue;
    color: white;
}